
body {
    background-image: url("../images/palm-leaf.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position:left top;
}

.maincontainer {
    background-color: white;
    width:960px;
    padding:5px;
}

.column {
    padding-left:5px;
    padding-right:5px;
}

